<div class="panel panel-info" ng-app="todoApp" ng-controller="TodoDeleteCtrl">
    <div class="panel-heading "></div>
    <div class="panel-body">
        <form>
            <fieldset>
                <legend>Delete Todo:</legend>
                <p>Are you sure you want to delete this todo?</p>
                <input type="button" value="No" ng-click="turnBack()" />
                <input type="button" value="Yes" ng-click="deleteTodo()" />
            </fieldset>
        </form>
    </div>
</div>
